`Done - Incentives is promising and will definitely be included!`

There are two categorical predictors: whether there is board oversight and an incentive binary predictor, which shall be further explored.
- I believe that board oversight corresponds to c1.1
- I also beileve that incentive_binary corresponds to c1.3

1.1 and 1.3 VERIFIED

In [37]:
import pandas as pd
import numpy as np
import seaborn as sns

In [38]:
incentives = pd.read_stata("../../data/CDP Cleaning/cleaned outputs/cdp_incentives.dta")

In [39]:
incentives.loc[incentives['id'] == '9759']

         id    year  cdp_boardoversight_i  cdp_incentivebinary_i
2949   9759  2019.0                   1.0                    1.0
4866   9759  2018.0                   1.0                    1.0
19078  9759  2020.0                   1.0                    1.0
22947  9759  2021.0                   1.0                    1.0
26997  9759  2022.0                   1.0                    1.0

## Checing for duplicate id year combinations

- There are no duplicate rows, the data is ready to be used as is

In [40]:
incentives[incentives.duplicated(subset=['id', 'year'])]

Empty DataFrame
Columns: [id, year, cdp_boardoversight_i, cdp_incentivebinary_i]
Index: []

In [41]:
# creating na columns for missing values
incentives['cdp_boardoversight_i_na'] = incentives['cdp_boardoversight_i'].isnull().astype(int)
incentives['cdp_incentivebinary_i_na'] = incentives['cdp_incentivebinary_i'].isnull().astype(int)

In [42]:
# imputing missing values with 0
incentives.replace(np.nan, 0, inplace=True)

In [43]:
incentives.isna().sum()

id                          0
year                        0
cdp_boardoversight_i        0
cdp_incentivebinary_i       0
cdp_boardoversight_i_na     0
cdp_incentivebinary_i_na    0
dtype: int64

In [46]:
incentives.shape

(34557, 6)

In [44]:
# save the df final to csv in the processed data folder
incentives.to_csv('../../data/processed/cdp_incentives_processed.csv', index=False)