`Pre-post 2018 risk and opportunities`
- because the data is different before and after 2018, I will select columns that are present in both datasets and are therefore consistent across the whole time period
- to this end, I will select only two general columns: risk and opportunity, to indicate whether there is a risk or an opportunity for the business

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

/var/folders/z7/jmcsyl9x47zdw6n1xd2_16jh0000gn/T/ipykernel_30720/1285016483.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
post2018opp = pd.read_stata("../../data/CDP Cleaning/cleaned outputs/cdp_post2018opp.dta")
post2018risk = pd.read_stata("../../data/CDP Cleaning/cleaned outputs/cdp_post2018risk.dta")
post2018riskel = pd.read_stata("../../data/CDP Cleaning/cleaned outputs/cdp_post2018riskrel.dta")
pre2018riskopp = pd.read_stata("../../data/CDP Cleaning/cleaned outputs/cdp_pre2018riskopp.dta")

Post 2018 Opp

In [4]:
post2018opp.head()

,id,cdp_opp_where_customer,cdp_opp_where_operation,cdp_opp_where_supplychain,cdp_opp_type_energy,cdp_opp_type_market,cdp_opp_type_product,cdp_opp_type_resilience,cdp_opp_type_resource,cdp_oppexposure,year
0,10016,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2022.0
1,10038,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,2022.0
2,10056,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,2022.0
3,10057,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2022.0
4,10065,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022.0

70% of the columns have at least one entry equal to one

In [5]:
post2018opp.columns

Index(['id', 'cdp_opp_where_customer', 'cdp_opp_where_operation',
       'cdp_opp_where_supplychain', 'cdp_opp_type_energy',
       'cdp_opp_type_market', 'cdp_opp_type_product',
       'cdp_opp_type_resilience', 'cdp_opp_type_resource', 'cdp_oppexposure',
       'year'],
      dtype='object')

In [6]:
# checking how many columns have at least one entry equal to one
(post2018opp.drop(columns=['id', 'year']).sum(axis=1) > 0).mean()

0.6985156787574953

In [7]:
# creating a new aggregated opportunity column
post2018opp['cdp_aggregated_opp'] = (post2018opp.drop(columns=['id', 'year']).sum(axis=1) > 0).astype(int)

In [8]:
# dropping all other columns and leaving only the aggregation
post2018opp.drop(columns=['cdp_opp_where_customer', 'cdp_opp_where_operation',
       'cdp_opp_where_supplychain', 'cdp_opp_type_energy',
       'cdp_opp_type_market', 'cdp_opp_type_product',
       'cdp_opp_type_resilience', 'cdp_opp_type_resource', 'cdp_oppexposure'], inplace=True)

In [9]:
post2018opp.head()

      id    year  cdp_aggregated_opp
0  10016  2022.0                   1
1  10038  2022.0                   1
2  10056  2022.0                   1
3  10057  2022.0                   1
4  10065  2022.0                   0

In [10]:
post2018opp.shape

(20346, 3)

In [11]:
# grouping post 2018 opp by id and year and summing, verifying that there are no id, year duplicates
post2018opp.groupby(['id', 'year']).sum().reset_index().shape == post2018opp.shape

True

Post 2018 risk

In [12]:
post2018risk.head()

,id,cdp_risk_physical,cdp_risk_transition,cdp_risk_customer,cdp_risk_operation,cdp_risk_supplychain,cdp_riskexposure,year
0,10016,0.0,0.0,0.0,1.0,0.0,0.0,2022.0
1,10038,0.0,0.0,0.0,1.0,0.0,0.0,2022.0
2,10056,0.0,0.0,0.0,0.0,0.0,0.0,2022.0
3,10057,0.0,0.0,0.0,1.0,0.0,0.0,2022.0
4,10065,0.0,0.0,0.0,1.0,0.0,224000000.0,2022.0

In [13]:
post2018risk.columns

Index(['id', 'cdp_risk_physical', 'cdp_risk_transition', 'cdp_risk_customer',
       'cdp_risk_operation', 'cdp_risk_supplychain', 'cdp_riskexposure',
       'year'],
      dtype='object')

In [14]:
# checking how many columns have at least one entry equal to one
(post2018risk.drop(columns=['id', 'year']).sum(axis=1) > 0).mean()

0.6329319243057262

In [15]:
# grouping post 2018 risk by id and year and summing, verifying that there are no id, year duplicates
post2018risk.groupby(['id', 'year']).sum().reset_index().shape == post2018risk.shape

True

Similarly, for risk 63% of the rows have at least one source of risk. Though here I can accurately map risk from physical and risk from transition so it should not be a problem and I will not need to aggregate.

In [16]:
# selecting only relevant columns
post2018risk = post2018risk[['id', 'year', 'cdp_risk_physical', 'cdp_risk_transition']]

In [17]:
post2018risk.head()

      id    year  cdp_risk_physical  cdp_risk_transition
0  10016  2022.0                0.0                  0.0
1  10038  2022.0                0.0                  0.0
2  10056  2022.0                0.0                  0.0
3  10057  2022.0                0.0                  0.0
4  10065  2022.0                0.0                  0.0

In [18]:
post2018opp.set_index(['id', 'year'], inplace=True)
post2018risk.set_index(['id', 'year'], inplace=True)

Final post 2018 df to merge

In [19]:
post2018riskopp = post2018opp.join(post2018risk, how='inner', on = ['id', 'year'])

In [20]:
post2018riskopp.head()

              cdp_aggregated_opp  cdp_risk_physical  cdp_risk_transition
id    year
10016 2022.0                   1                0.0                  0.0
10038 2022.0                   1                0.0                  0.0
10056 2022.0                   1                0.0                  0.0
10057 2022.0                   1                0.0                  0.0
10065 2022.0                   0                0.0                  0.0

Riskel: to be discarded, just EDA

In [21]:
post2018riskel.head()

,id,cdp_risk_acutephysical,cdp_risk_chronicphysical,cdp_risk_currentregulation,cdp_risk_emergingregulation,cdp_risk_legal,cdp_risk_market,cdp_risk_reputation,cdp_risk_technology,year,cdp_risk_downstream,cdp_risk_upstream
0,10016,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,2022.0,NaN,NaN
1,10038,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2022.0,NaN,NaN
2,10056,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,2022.0,NaN,NaN
3,10057,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,2022.0,NaN,NaN
4,10065,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2022.0,NaN,NaN

In [22]:
post2018riskel.columns

Index(['id', 'cdp_risk_acutephysical', 'cdp_risk_chronicphysical',
       'cdp_risk_currentregulation', 'cdp_risk_emergingregulation',
       'cdp_risk_legal', 'cdp_risk_market', 'cdp_risk_reputation',
       'cdp_risk_technology', 'year', 'cdp_risk_downstream',
       'cdp_risk_upstream'],
      dtype='object')

Those are even more specifc sources of risk, for now I believe I can ignore them and focus on a baseline set of predictors that does not involve specifying when data is included or not with an indicator column.

In [23]:
pre2018riskopp.head()

,id,cdp_risk,cdp_opp,year,cdp_risk_transition,cdp_risk_physical,cdp_opp_transition,cdp_opp_physical
0,44,Risks driven by changes in regulation; Risks d...,Opportunities driven by changes in regulation;...,2017.0,1.0,1.0,1.0,1.0
1,53,Risks driven by changes in regulation; Risks d...,Opportunities driven by changes in regulation;...,2017.0,1.0,1.0,1.0,1.0
2,64,Risks driven by changes in regulation; Risks d...,Opportunities driven by changes in physical cl...,2017.0,1.0,1.0,0.0,1.0
3,78,Risks driven by changes in regulation; Risks d...,Opportunities driven by changes in regulation,2017.0,1.0,1.0,1.0,0.0
4,87,Risks driven by changes in regulation; Risks d...,Opportunities driven by changes in regulation;...,2017.0,1.0,1.0,1.0,1.0

In [24]:
pre2018riskopp.columns

Index(['id', 'cdp_risk', 'cdp_opp', 'year', 'cdp_risk_transition',
       'cdp_risk_physical', 'cdp_opp_transition', 'cdp_opp_physical'],
      dtype='object')

In [25]:
# for the opportunities, set the new opportunity column to one if the sum of opp_transition and opp_physical is greater than zero
pre2018riskopp['cdp_aggregated_opp'] = ((pre2018riskopp.cdp_opp_physical + pre2018riskopp.cdp_opp_transition) > 0).astype(int)
pre2018riskopp.drop(columns=['cdp_risk', 'cdp_opp', 'cdp_opp_transition', 'cdp_opp_physical'], inplace=True)

In [26]:
pre2018riskopp.head()

   id    year  cdp_risk_transition  cdp_risk_physical  cdp_aggregated_opp
0  44  2017.0                  1.0                1.0                   1
1  53  2017.0                  1.0                1.0                   1
2  64  2017.0                  1.0                1.0                   1
3  78  2017.0                  1.0                1.0                   1
4  87  2017.0                  1.0                1.0                   1

In [27]:
pre2018riskopp.set_index(['id', 'year'], inplace = True)

Merging the two dataframes

In [28]:
riskopp = pd.concat([pre2018riskopp, post2018riskopp])

In [29]:
riskopp.mean()

cdp_risk_transition    0.449303
cdp_risk_physical      0.390668
cdp_aggregated_opp     0.758082
dtype: float64

In [30]:
riskopp.reset_index(inplace=True)

In [31]:
riskopp.shape

(33069, 5)

In [32]:
riskopp

,id,year,cdp_risk_transition,cdp_risk_physical,cdp_aggregated_opp
0,44,2017.0,1.0,1.0,1
1,53,2017.0,1.0,1.0,1
2,64,2017.0,1.0,1.0,1
3,78,2017.0,1.0,1.0,1
4,87,2017.0,1.0,1.0,1
...,...,...,...,...,...
33064,9979,2018.0,1.0,1.0,1
33065,9988,2018.0,1.0,1.0,1
33066,9992,2018.0,1.0,1.0,1
33067,9993,2018.0,1.0,1.0,1
33068,9995,2018.0,0.0,1.0,1

In [33]:
# saving the final dataframe in a processed csv
riskopp.to_csv('../../data/processed/cdp_riskopp_processed.csv', index=False)