`Done - number of columns can be reduced if needed`

In [22]:
import pandas as pd
import numpy as np
import seaborn as sns

In [23]:
firm_year = pd.read_stata("../../data/CDP Cleaning/cleaned outputs/cdp_ghg_verification_firm_year.dta")

In [24]:
firm_year.shape

(28408, 17)

In [25]:
firm_year.columns

Index(['id', 'year', 'ghg_verification_scope1', 'ghg_verification_scope2',
       'ghg_verification_scope3', 'type_scope1', 'standard_scope1',
       'proportion_verified_scope1', 'type_scope2_loc', 'standard_scope2_loc',
       'proportion_verified_scope2_loc', 'type_scope2_mkt',
       'standard_scope2_mkt', 'proportion_verified_scope2_mkt', 'type_scope2',
       'standard_scope2', 'proportion_verified_scope2'],
      dtype='object')

In [26]:
firm_year.head()

,id,year,ghg_verification_scope1,ghg_verification_scope2,ghg_verification_scope3,type_scope1,standard_scope1,proportion_verified_scope1,type_scope2_loc,standard_scope2_loc,proportion_verified_scope2_loc,type_scope2_mkt,standard_scope2_mkt,proportion_verified_scope2_mkt,type_scope2,standard_scope2,proportion_verified_scope2
0,44,2022.0,yes,yes,yes,limited,ISO14064-3,100.0,limited,ISO14064-3,100.0,limited,ISO14064-3,100.0,,,100.0
1,44,2021.0,yes,yes,yes,limited,ISO14064-3,100.0,limited,ISO14064-3,100.0,limited,ISO14064-3,100.0,,,100.0
2,44,2020.0,yes,yes,yes,limited,ISO14064-3,100.0,limited,ISO14064-3,100.0,limited,ISO14064-3,100.0,,,100.0
3,44,2019.0,yes,yes,yes,reasonable,ISO14064-3,100.0,reasonable,ISO14064-3,100.0,reasonable,ISO14064-3,100.0,,,100.0
4,44,2018.0,yes,yes,yes,reasonable,ISO14064-3,100.0,reasonable,ISO14064-3,100.0,,,100.0,,,100.0

In [27]:
firm_year.replace("", pd.NA, inplace=True)

In [28]:
firm_year.isna().sum()

id                                    0
year                                  0
ghg_verification_scope1             290
ghg_verification_scope2             495
ghg_verification_scope3             937
type_scope1                       11550
standard_scope1                   11907
proportion_verified_scope1            0
type_scope2_loc                   19658
standard_scope2_loc               19798
proportion_verified_scope2_loc        0
type_scope2_mkt                   22888
standard_scope2_mkt               22934
proportion_verified_scope2_mkt        0
type_scope2                       23687
standard_scope2                   23818
proportion_verified_scope2            0
dtype: int64

In [29]:
firm_year.drop(columns=['standard_scope1','standard_scope2', 'type_scope2', 'standard_scope2_mkt', 'type_scope2_mkt', 'standard_scope2_loc', 'type_scope2_loc'], inplace=True)

In [30]:
firm_year.drop(columns=['proportion_verified_scope2_loc', 'proportion_verified_scope2_mkt'],inplace=True)

In [31]:
firm_year['ghg_verification_scope1'].replace(pd.NA, 'no data', inplace=True)
firm_year['ghg_verification_scope2'].replace(pd.NA, 'no data', inplace=True)
firm_year['ghg_verification_scope3'].replace(pd.NA, 'no data', inplace=True)

In [32]:
firm_year['type_scope1'].unique()

array(['limited', 'reasonable', <NA>, 'high', 'moderate',
       'third party underway', 'n/a'], dtype=object)

In [33]:
firm_year['type_scope1'].replace(pd.NA, 'n/a', inplace=True)

There are too many standards for all the scopes, so I will drop those columns

In [34]:
firm_year.head()

,id,year,ghg_verification_scope1,ghg_verification_scope2,ghg_verification_scope3,type_scope1,proportion_verified_scope1,proportion_verified_scope2
0,44,2022.0,yes,yes,yes,limited,100.0,100.0
1,44,2021.0,yes,yes,yes,limited,100.0,100.0
2,44,2020.0,yes,yes,yes,limited,100.0,100.0
3,44,2019.0,yes,yes,yes,reasonable,100.0,100.0
4,44,2018.0,yes,yes,yes,reasonable,100.0,100.0

In [35]:
firm_year = pd.get_dummies(firm_year, drop_first=True, dtype=int)

In [36]:
firm_year.columns

Index(['id', 'year', 'proportion_verified_scope1',
       'proportion_verified_scope2', 'ghg_verification_scope1_no data',
       'ghg_verification_scope1_yes', 'ghg_verification_scope2_no data',
       'ghg_verification_scope2_yes', 'ghg_verification_scope3_no data',
       'ghg_verification_scope3_yes', 'type_scope1_limited',
       'type_scope1_moderate', 'type_scope1_n/a', 'type_scope1_reasonable',
       'type_scope1_third party underway'],
      dtype='object')

In [37]:
firm_year

,id,year,proportion_verified_scope1,proportion_verified_scope2,ghg_verification_scope1_no data,ghg_verification_scope1_yes,ghg_verification_scope2_no data,ghg_verification_scope2_yes,ghg_verification_scope3_no data,ghg_verification_scope3_yes,type_scope1_limited,type_scope1_moderate,type_scope1_n/a,type_scope1_reasonable,type_scope1_third party underway
0,44,2022.0,100.0,100.0,0,1,0,1,0,1,1,0,0,0,0
1,44,2021.0,100.0,100.0,0,1,0,1,0,1,1,0,0,0,0
2,44,2020.0,100.0,100.0,0,1,0,1,0,1,1,0,0,0,0
3,44,2019.0,100.0,100.0,0,1,0,1,0,1,0,0,0,1,0
4,44,2018.0,100.0,100.0,0,1,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28403,895586,2022.0,100.0,100.0,1,0,1,0,1,0,0,0,1,0,0
28404,895756,2022.0,100.0,100.0,0,0,0,0,0,0,0,0,1,0,0
28405,895873,2022.0,100.0,100.0,0,0,0,0,0,1,0,0,1,0,0
28406,896044,2022.0,100.0,100.0,0,0,0,0,0,0,0,0,1,0,0
28407,896120,2022.0,100.0,100.0,1,0,1,0,1,0,0,0,1,0,0

In [38]:
firm_year.shape

(28408, 15)

In [128]:
# save to csv
firm_year.to_csv('../../data/processed/cdp_ghg_verification_frim_year_processed.csv', index=False)