`Postponed - This is an interesting dataset`

- Not only can you work with nice visualizations, such as doing a global maps coloring with a darker shade countries which have more emissions on aggregate
- You can also depict the trend in emissions at a country level, or you could do the mean as well
- For modeling purposes, the country of first emission might be relevant? That is potentially true.
- Though, I will be creating a significant amount of columns
- Scope 1 Location might be hard to work with, perhaps I could use country-specific emissions? Or I could use the max emission country for every ID?

In [114]:
import pandas as pd
import numpy as np
import seaborn as sns

In [115]:
location = pd.read_stata("../../data/CDP Cleaning/cleaned outputs/cdp_ghg_scope1_location.dta")

In [116]:
location

            id                   country  emissions    year
0           53                    Sweden     740.00  2010.0
1           53                  Portugal      42.00  2010.0
2           53  United States of America     784.00  2010.0
3           53               Puerto Rico      47.00  2010.0
4           53                   Morocco      15.00  2010.0
...        ...                       ...        ...     ...
159307  895756         Republic of Korea      79.41  2022.0
159308  895873  United States of America      53.00  2022.0
159309  895873                    Canada      32.00  2022.0
159310  896044                     Japan  963327.00  2022.0
159311  896120         Republic of Korea    3308.00  2022.0

[159312 rows x 4 columns]

In [117]:
location['country'].value_counts()

country
United States of America                          9680
China                                             6498
Germany                                           5066
Canada                                            4753
Japan                                             4462
                                                  ...
Other: Chile/Metropolitan Region                     1
Other: Chile/(Region II) Antofagasta Region          1
Other: Chile/(Region IV) Coquimbo Region             1
Other: Southern                                      1
Other, please specify: Rest of the World (ROW)       1
Name: count, Length: 1911, dtype: int64

There is a significant amount of emissions marked "other - please specify", although the column itself might contain interesting information, I will collapse it for the sake of simplicity

In [118]:
location.loc[((location['country'].str.split(",|:")).apply(lambda x: x[0]) == "Other"), 'country'] = 'Other'

In [ ]:
location

In [144]:
# if a country has less than 1 value then set its category to other

lst = (location.groupby(['country', 'year'])['emissions'].count())

In [145]:
lst

country        year
               2021.0    492
Afghanistan    2011.0      1
               2012.0      1
               2013.0      1
               2014.0      2
                        ...
Zimbabwe       2019.0      9
               2020.0      9
               2021.0     11
               2022.0     10
Åland Islands  2022.0      1
Name: emissions, Length: 2994, dtype: int64

In [127]:
lst = lst[lst == True]

In [128]:
location['country'].apply(lambda x: "Other" if x in lst else x)

0                           Sweden
1                         Portugal
2         United States of America
3                      Puerto Rico
4                          Morocco
                    ...
159307           Republic of Korea
159308    United States of America
159309                      Canada
159310                       Japan
159311           Republic of Korea
Name: country, Length: 159312, dtype: object

In [129]:
location['country'].unique()

array(['Sweden', 'Portugal', 'United States of America', 'Puerto Rico',
       'Morocco', 'Spain', 'Chile', 'Argentina', 'France', 'Bolivia',
       'Italy', 'United Kingdom', 'Colombia', 'Other', 'South Korea',
       'Canada', 'South Africa', 'India', 'Japan', 'Rest of world',
       'Netherlands', 'Germany', 'Belgium', 'Brazil', 'Taiwan', 'China',
       'Malaysia', 'Finland', 'Mexico', 'Australia', 'Singapore',
       'International Air Space', 'Pakistan', 'Costa Rica', 'Ireland',
       'Turkey', 'Switzerland', 'Bulgaria', 'Croatia', 'Austria',
       'Hungary', 'Romania', 'Czech Republic', 'Russia', 'Slovakia',
       'Poland', 'Suriname', 'Jamaica', 'United Arab Emirates',
       'Indonesia', 'Norway', 'Ecuador', 'Guatemala', 'Venezuela', 'Peru',
       'Dominican Republic', 'Uruguay', 'New Zealand', 'Denmark',
       'Philippines', 'Egypt', 'Israel', 'Greece', 'Republic of Korea',
       'Thailand', 'Hong Kong', 'Luxembourg', 'Lithuania', 'Mozambique',
       'Papua New Guinea', 'Tanzania', 'Tunisia', 'Paraguay', 'Panama',
       'Oman', 'Trinidad and Tobago', 'Algeria', 'Kazakhstan', 'Nigeria',
       'Cambodia', 'Ukraine', 'Vietnam', 'Azerbaijan', 'Angola',
       'Bangladesh', 'Nepal', 'Greenland', 'Albania', 'Belarus', 'Malawi',
       'Laos, People s Democratic Republic of', 'Latvia', 'Estonia',
       'Uzbekistan', 'Serbia', 'Turks and Caicos Islands', 'Bahamas',
       'International Waters', 'Mongolia', 'Kyrgyzstan', 'Fiji',
       'Swaziland', 'Zimbabwe', 'Bahrain', 'Botswana', 'Zambia',
       'Macedonia', 'Montenegro', 'Kenya', 'Namibia', 'Seychelles',
       'Uganda', 'Cameroon', 'Ghana', 'Vanuatu', 'Slovenia',
       'El Salvador', 'Honduras', 'Nicaragua', 'Macau', 'Barbados',
       'Malta', 'Saint Lucia', 'American Samoa', 'Senegal', 'Jordan',
       'Moldova', 'British Virgin Islands', 'Libyan Arab Jamahiriya',
       'Saudi Arabia', 'Kuwait', 'Mauritius', 'Cuba', 'Lebanon',
       'Equatorial Guinea', 'Qatar', 'Haiti', 'Gabon', 'Burkina Faso',
       'Chad', 'Madagascar', 'Congo, Democratic Republic of the', 'Mali',
       'Cote d Ivoire', 'Central African Republic', 'Monaco', 'Jersey',
       'Syrian Arab Republic', 'Yemen', 'Iceland', 'Armenia', 'Georgia',
       'Cyprus', 'Ethiopia', 'Guadeloups', 'Congo, Republic of the',
       'Dubai', 'Sri Lanka', 'Guernsey', 'Lesotho', 'Turkmenistan',
       'Myanmar', 'Liechtenstein', 'Tajikistan',
       'Iran, Islamic Republic of', 'Niger', 'Guam', 'Brunei Darussalam',
       'Bosnia and Herzegovina', 'French Polynesia', 'Guinea', 'Djibouti',
       'Benin', 'Bermuda', 'Cayman Islands', 'Iraq', 'Sudan',
       'Afghanistan', 'Mauritania, Islamic Republic of', 'Faroe Islands',
       'Rwanda', 'Andorra', 'Isle of Man', 'Gibralter',
       'Falkland Islands', 'Micronesia, Federated States of',
       'Sierra Leone', 'Martinique', 'Burundi', 'French Guiana',
       'Maldives', 'Asia Pacific (or JAPA)', 'Europe',
       'Latin America and Caribbean (LAC)', 'North America',
       'Africa and Middle East', 'Americas', 'Latin America (LATAM)',
       'EU25', 'Asia, Australasia, Middle East and Africa',
       'South America', 'Caribbean',
       'Europe, Middle East and Africa (EMEA)', 'Asia, Australasia',
       'Togo', "Laos, People's Democratic Republic of", 'Libya',
       'The former Yugoslav Republic of Macedonia', 'Africa',
       'Middle East', 'Oceania',
       'Europe, the Middle East, Africa and Russia (EMEAR)',
       'Asia Middle East (AME)', 'Western Europe',
       'Latin or South America (LSA)', 'Asia Pacific and Africa',
       'US, Latin America and Caribbean (USLAC)',
       'Eastern Europe, Middle East, and Africa (EEMEA)', 'Eurasia',
       'Africa and Latin America', 'Virgin Islands',
       'Saint Martin (French part)', 'Anguilla', 'Antigua and Barbuda',
       'Europe and Africa', 'Réunion',
       'Middle East and North Africa (MENA)',
       'CEE (Central and Eastern Europe)', 'EU12', 'Eastern Europe & CIS',
       'Eastern Europe', 'CIS & Baltic states', 'Guadeloupe', 'Benelux',
       "Democratic People's Republic of Korea", 'New Caledonia', 'EU27',
       'Palau', 'Nordic countries', 'CIS and Asia', 'Aruba', 'Cape Verde',
       'Baltic states', 'Grenada', 'Belize', 'Australasia',
       'Solomon Islands',
       'We are an Electric Utilities company – please see our response to EU2 instead of CC9.1a',
       'Guinea-Bissau', 'Gambia', 'CIS+', 'Liberia', 'Central America',
       'Dominica', 'Sint Maarten (Dutch part)', 'North Africa',
       'Africa/Eurasia', 'Central Europe', 'EU15', 'Christmas Island',
       'Middle and Near East', 'Commonwealth of Independent States (CIS)',
       'South Sudan', 'Southern Europe, Middle East and Africa (SEMEA)',
       'Saint Kitts and Nevis', 'Samoa', 'Bhutan', 'Guyana',
       'United Kingdom of Great Britain and Northern Ireland',
       'Bolivia (Plurinational State of)', 'Czechia',
       'Russian Federation', 'Taiwan (Province of China)',
       'United Republic of Tanzania', 'Viet Nam',
       'Venezuela (Bolivarian Republic of)',
       'China, Hong Kong Special Administrative Region',
       'Democratic Republic of the Congo', 'Congo', 'Cote d’Ivoire',
       'Cabo Verde', 'Mauritania', 'Republic of Macedonia', 'EU28',
       'Republic of Moldova', 'Curaçao',
       'Laos, People’s Democratic Republic of',
       'China, Macao Special Administrative Region',
       'United States Virgin Islands', 'Somalia', 'Tonga',
       'Sao Tome and Principe', 'Baltic States', 'Timor Leste',
       'Bonaire, Sint Eustatius and Saba', 'Gibraltar', 'Cote dIvoire',
       'Taiwan, Greater China', 'Americas: Middle East & South Asia',
       'Laos, Peoples Democratic Republic of', 'Runion',
       'Micronesia (Federated States of)', 'Comoros', 'Mayotte',
       "Côte d'Ivoire", 'Eswatini', 'Iran (Islamic Republic of)',
       'Bosnia & Herzegovina', 'North Macedonia',
       "Lao People's Democratic Republic", 'Timor-Leste',
       'Northern Mariana Islands', 'Gulf of Mexico (GOM)', '',
       'United States Minor Outlying Islands', 'Saint Barthélemy',
       'Taiwan, China', 'Hong Kong SAR, China', 'State of Palestine',
       'Saint Vincent and the Grenadines', 'Åland Islands'], dtype=object)

TODO:
- join operation with Summary and industry classification if needed