`Not to be processed`

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_stata('../../data/CDP Cleaning/cleaned outputs/cdp_currency.dta')
df.head()

      id    year cdp_currency  currency_ex
0  14299  2011.0          ARS          NaN
1   1408  2011.0          ARS          NaN
2  21448  2011.0          AUD          NaN
3    674  2011.0          AUD          NaN
4  13878  2011.0          AUD          NaN

I cannot include it yet, I need to determine where is currency used and how to handle it. I will do it later.